body{


    background-color: cadetblue;
}

.landing{
    background-color: beige;
    border:5px solid black;
    margin-left:2%;
    margin-right:2%;
}.slogan{
    text-align:center;
}.welcome{
    text-align:center;
    color: #333333;
}

.container{
    background-color:white;
    padding-bottom:5%;
}

.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:25%
}

.searchNews{
    font-size:20px;
}

.articles{
    margin-left:2%;
    margin-right:2%;
}
.articles_display{
    background-color: lightgray;
    border:5px solid black;
}

.articles_found{
    background-color:goldenrod;
    border:5px solid black;
}

.searchBar{
    margin-left:2%;
    margin-right:2%;
    background-color: seagreen;
    border:5px solid black;
    height:40px;
}

.chat{
    margin-left:2%;
    margin-right:2%;
}
.chatBox{
    background-color: lightgray;
    border:5px solid black;
}

.whosOnline{
    height: 250px;
    background-color:violet;
    border:5px solid black;
}
.footer{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    text-align:center;


    background-color:blue;
}

.chatForm{
    border-top: 5px solid black;
    background-color:firebrick;
    float:bottom;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    margin-bottom:0px;
}.chatFormButton{
width:30%;
height:30px;
float: right;
margin-bottom:0px;
}.chatFormInput{
    width:99%;
    height:25px;
    margin-bottom:0px;
}


.formRow{
margin-left: 2%;
margin-right: 2%;
border-bottom: 5px solid black;
border-left: 5px solid black;
border-right: 5px solid black;
text-align: center;
}
